<br>
<h3>signup for <%= @user.email %></h3>
<h4><%= @user.votes_left %> out of <%= @poll.votes_per_user %> votes remaining</h4>
<h4>Poll Timezone: <%= @poll.timezone %></h4>

<div class="grid-container">
  <% row = 1 %>
  <div></div>
  <% (@min_time..(@max_time-15)).step(15) do |time| %>
    <div class = "item" style='border-right: solid; border-right-color: rgb(255,255,255); grid-column: 1 / span 1; grid-row:<% row +1%> / span 1;'>
      <%=  UsersController.print_time(time) %> - <%=  UsersController.print_time(time+15) %>
      <% row = row + 1 %>
    </div>
  <% end %>


  <% col = 1 %>
  <% @calendar.each do |date, date_times| %>

    <div class='item' style='border-bottom: solid; border-bottom-color: rgb(255,255,255); grid-column: <%= col + 1 %> / span 1; grid-row:1 / span 1;'>
      <%= date %>
    </div>
    <% col = col + 1 %>
    <% if ! date_times[:times].nil? %>
      <% date_times[:times].each do |time| %>
        <% url = "'/signup/#{@poll.id}/?block_id=#{time[:id]}'" %>

<!--        clean this up later -->
        <% if time[:id].nil? %>
          <div class = "item <%="hover" unless time[:id].nil? %>" style='box-sizing: border-box;<%="background-color: red;box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);border-radius: 2px;" if time[:booked] %><%="background-color: #8eedbb;box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);border-radius: 2px;" unless time[:id].nil? %><%="background: #e0e0e0;" if time[:id].nil? && time[:row].even? && ! time[:booked] %><%="background: white;" if time[:id].nil? && time[:row].odd? && ! time[:booked] %>grid-column: <%= time[:column] %> / span 1; grid-row:<%= time[:row] %> / span <%= time[:duration] %>;'>
        <% elsif time[:reserved]%>
          <% url = "'/users/show/#{@poll.id}/?block_id=#{time[:id]}'" %>
          <div onclick="window.location.href = <%= url %> " class = "item <%="hover" unless time[:id].nil? %>" style='box-sizing: border-box; background-color: blue;box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);border-radius: 2px; grid-column: <%= time[:column] %> / span 1; grid-row:<%= time[:row] %> / span <%= time[:duration] %>;'>
            Votes <%=  Block.find_by_id(time[:id]).invitees.length %> / <%=  @poll.votes_per_timeslot %>
        <% else %>
          <div onclick="window.location.href = <%= url %> " class = "item <%="hover" unless time[:id].nil? %>" style='box-sizing: border-box;<%="background-color: red;box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);border-radius: 2px;" if time[:booked] %><%="background-color: #8eedbb;box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);border-radius: 2px;" unless time[:id].nil? %><%="background: #e0e0e0;" if time[:id].nil? && time[:row].even? && ! time[:booked] %><%="background: white;" if time[:id].nil? && time[:row].odd? && ! time[:booked] %>grid-column: <%= time[:column] %> / span 1; grid-row:<%= time[:row] %> / span <%= time[:duration] %>;'>
            Votes <%=  Block.find_by_id(time[:id]).invitees.length %> / <%=  @poll.votes_per_timeslot %>
        <% end %>



          <br>
        </div>

      <% end %>

    <% end %>

  <% end %>
</div>
</div>
</div>



