<br>
<H1 style="margin-top: 10px;text-align: center; font-size:3.5em"><%=@poll_name%></H1>
<div class="row">
  <div class="column">
    <h3>Logged in as <%= @user.email %></h3>
  </div>
  <div class="column" style="text-align: right">

    <h4><%= @user.votes_left %> out of <%= @poll.votes_per_user %> votes remaining</h4>
  </div>
</div>


<div class="grid-container">
  <% row = 1 %>
  <div><%= @poll.timezone %></div>
  <% (@min_time..(@max_time-Invitee.time_interval)).step(Invitee.time_interval) do |time| %>
    <div class = "item" style='border-right: solid; border-right-color: rgb(255,255,255); grid-column: 1 / span 1; grid-row:<% row +1%> / span 1;'>
      <%=  UsersController.print_time(time) %> - <%=  UsersController.print_time(time+Invitee.time_interval) %>
      <% row = row + 1 %>
    </div>
  <% end %>


  <% col = 1 %>
  <% @calendar.each do |date, date_times| %>

    <div class='item' style='border-bottom: solid; border-bottom-color: rgb(255,255,255); grid-column: <%= col + 1 %> / span 1; grid-row:1 / span 1;'>
      <%= date %>
    </div>
    <% col = col + 1 %>
    <% if ! date_times[:times].nil? %>
      <% date_times[:times].each do |time| %>
        <% url = "'/signup/#{@poll.id}/?block_id=#{time[:id]}'" %>

        <% if time[:id].nil? %>


          <div class = "item <%="hover" unless time[:id].nil? %>" style='box-sizing: border-box;<%="background-color: red;box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);border-radius: 2px;" if time[:booked] %><%="background-color: #8eedbb;box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);border-radius: 2px;" unless time[:id].nil? %><%="background: #e0e0e0;" if time[:id].nil? && time[:row].even? && ! time[:booked] %><%="background: white;" if time[:id].nil? && time[:row].odd? && ! time[:booked] %>grid-column: <%= time[:column] %> / span 1; grid-row:<%= time[:row] %> / span <%= time[:duration] %>;'>
          <% if time[:booked] %>
            FULL
            <% end %>

        <% elsif time[:reserved]%>
          <% url = "'/users/show/#{@poll.id}/?block_id=#{time[:id]}'" %>
          <div onclick="window.location.href = <%= url %> " class = "item <%="hover2" unless time[:id].nil? %>" style='box-sizing: border-box; background-color: #b5c8ff;box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);border-radius: 2px; grid-column: <%= time[:column] %> / span 1; grid-row:<%= time[:row] %> / span <%= time[:duration] %>;'>
            Votes <%=  Block.find_by_id(time[:id]).invitees.length %> / <%=  @poll.votes_per_timeslot %>
        <% else %>
          <div onclick="window.location.href = <%= url %> " class = "item <%="hover" unless time[:id].nil? %>" style='box-sizing: border-box;<%="background-color: #f79e9e;box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);border-radius: 2px;" if time[:booked] %><%="background-color: #baffbc;box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);border-radius: 2px;" unless time[:id].nil? %><%="background: #f2f5ff;" if time[:id].nil? && time[:row].even? && ! time[:booked] %><%="background: white;" if time[:id].nil? && time[:row].odd? && ! time[:booked] %>grid-column: <%= time[:column] %> / span 1; grid-row:<%= time[:row] %> / span <%= time[:duration] %>;'>
            Votes <%=  Block.find_by_id(time[:id]).invitees.length %> / <%=  @poll.votes_per_timeslot %>
        <% end %>



          <br>
        </div>

      <% end %>

    <% end %>

  <% end %>
</div>
</div>
</div>



