<%#= render :layout => "layouts/popup" , :locals => {:title => 'some title'} do%>
<div id="new_medicine_page_id">
  <% provide(:title, "Edit Poll") %>


  <% if params[:properties]%>
    <div>
      <div class="inline">
        <h1>Edit Poll</h1>
      </div>

      <div class="inline">
        <%= form_tag("/polls/#{params[:id]}/edit?meetings=true", :method => :get, :id => 'go_to_meetings_form' ) do %>
          <%= hidden_field_tag "meetings", true %>
          <%= submit_tag("Meeting Times", :class => "ALEX_CHANGE", id:"go_to_meetings") %>
        <% end %>
      </div>
    </div>


    <div class="ALEX_CHANGE" style>
      <%= form_tag( "/polls/#{:id}?poll_id=#{@poll.id}", :method => :put, :id => 'add_new_poll') do %>
        <%= label(:title_label, "Title") %>
        <%= text_field(:poll, :title, :placeholder => "enter your poll name here", :class => "ALEX_CHANGE") %>

        <%= label_tag(:location_label, "Location") %>
        <%= text_field(:poll, :location, :placeholder => "location", :class => "ALEX_CHANGE") %>

        <%= label_tag(:description_label, "Description") %>
        <%= text_field(:poll, :description, :placeholder => "The poll description...", :class => "ALEX_CHANGE") %>

        <%= label_tag(:user_votes_label, "Votes per User") %>
        <%= text_field(:poll, :votes_per_user, :class => "ALEX_CHANGE") %>

        <%= label_tag(:votes_per_timeslot_label, "Votes per Timeslot") %>
        <%= text_field(:poll, :votes_per_timeslot, :class => "ALEX_CHANGE") %>

        <%= label_tag(:timezone_label, "Timezone") %>
        <%= select(:poll, :timezone, [ ['Eastern (UTC-05:00)', "EDT"],
                                       ['Central (UTC-06:00)', "CDT"],
                                       ['Mountain (UTC-07:00)', "MDT"],
                                       ['Pacific (UTC-08:00)', "PDT"],
                                       ['Alaskan (UTC-09:00)', "ADT"],
                                       ['Hawaiian (UTC-10:00)', "HST"]]) %>
        <br>
        <br>
        <%= submit_tag("Update",  name: "create_poll_button", :class => "ALEX_CHANGE", id: "create_poll_button") %>
      <% end %>
    </div>

  <% elsif params[:meetings]%>
    <div>
      <div class="inline">
        <h1>Edit Poll</h1>
      </div>

      <div class="inline">
        <%= form_tag("/polls/#{params[:id]}/edit?properties=true", :method => :get, :id => 'go_to_meetings_form' ) do %>
          <%= hidden_field_tag "properties", true %>
          <%= submit_tag("Properties", :class => "ALEX_CHANGE", id:"go_to_properties") %>
        <% end %>
      </div>
    </div>

    <div class="infoBox">
      <h1 style="margin-top: 0px; margin-bottom: 10px;"> Poll Info </h1>
      <h2 style="margin-top: 0px; margin-bottom: 0px;"> <%= @poll.title %> </h2>
      <h4> Location </h4>
      <div style="margin-top: 0px; margin-bottom: 0px;"> <%= @poll.location %> </div>
      <h4> Description </h4>
      <div style="margin-top: 0px; margin-bottom: 0px;"> <%= @poll.description %> </div>
    </div>


    <div class="ALEX_CHANGE" style>
      <%= form_tag( "/timeslots", :method => :post, :id => 'add_new_poll') do %>
        <%= label(:date_label, "Date") %>
        <%= date_field_tag(:date, :date, form: "add_new_poll", required: true) %>
        </br>
        <%= label(:start_label, "Start Time") %>
        <%= time_select(:start, :start_time, form: "add_new_poll", minute_step: 15, end_hour: 12) %>

        <%= radio_button :AM_PM_start, :select, "AM", form: "add_new_poll", :checked =>
          "unchecked"%>
        <%= label(:end_label, "AM") %>

        <%= radio_button :AM_PM_start, :select, "PM", form: "add_new_poll", :checked =>
          "checked"%>
        <%= label(:end_label, "PM") %>

        </br>
        <%= label(:end_label, "End Time") %>
        <%= time_select :end, 'end_time', {minute_step: 15} %>

        <%= radio_button :AM_PM_end, :select, "AM", form: "add_new_poll", :checked =>
          "unchecked"%>
        <%= label(:end_label, "AM") %>

        <%= radio_button :AM_PM_end, :select, "PM", form: "add_new_poll", :checked =>
          "checked"%>
        <%= label(:end_label, "PM") %>
        </br>
        <%= radio_button :time_blocks, :select, "blocks", form: "add_new_poll", :checked =>
          "checked", :onclick => "document.getElementById('times_times').disabled = true;document.getElementById('blocks').disabled = false;document.getElementById('times').value = '';" %>
        <%= label(:end_label, "Blocks") %>
        <%= text_field(:timeslot, :blocks, :placeholder => "number of blocks", :class => "ALEX_CHANGE", form: "add_new_poll", :disabled => false, id: :blocks, required: true) %>

        <%= radio_button :time_blocks, :select, "times", form: "add_new_poll", :checked =>
          "unchecked", :onclick => "document.getElementById('times_times').disabled = false;document.getElementById('blocks').disabled = true;document.getElementById('blocks').value = '';" %>

        <%= label(:end_label, "Times") %>
        <%= select :times, :times , [['15', 15], ['30', 30], ['45', 45], ['60',60],['75',75],['90',90],['105',105],['120',120]],{}, {disabled:true}%>
        <%= hidden_field_tag :poll_id, @poll.id %>
        <br>
        <br>
        <%= submit_tag("Add",  name: "add_timeslot_button", :class => "ALEX_CHANGE", id: "add_timeslot_button", form: "add_new_poll") %>
      <% end %>
      <table>
        <tr>
          <th>Start</th>
          <th>End</th>
          <th>Number of Blocks</th>
        </tr>
        <% @timeslots.each do |timeslot| %>
          <tr>
            <td><%= timeslot.start %></td>
            <td><%= timeslot.end %></td>
            <td><%= timeslot.blocks.length %></td>
            <td><%= link_to '', timeslot, :method => :delete, :class => 'close'%> </td>
          </tr>
        <% end %>
      </table>
<% end %>

</div>
</div>
<%# end %>
