<h1>Welcome,
<%= @admin.username %>
  <br/>
  <br/>
My Polls</h1>
<br/>
<h3>Search for a poll by title:
<%= form_tag( {controller: polls_path}, {method: "get"}) do %>
  <td><%= text_field_tag(:search_title, nil, :placeholder => "Poll title") %></td>
  <td><%= submit_tag("Filter", id:"filter".to_sym) %></td>
<% end %>
</h3>
<table>
  <tr>
    <th>Title of Poll</th>
    <th>Description</th>
    <th>Votes Per User</th>
    <th>Votes Per Timeslot</th>
    <th>Timezone</th>
    <th>Location</th>
    <th></th>
  </tr>
</table>
<table>
  <tbody>

  <% @polls.each do |poll| %>
    <tr>
      <td><%= poll.title %></td>
      <td><%= poll.description %></td>
      <td><%= poll.votes_per_user %></td>
      <td><%= poll.votes_per_timeslot %></td>
      <td><%= poll.timezone %></td>
      <td><%= poll.location %></td>
    </tr>
  <% end %>

  </tbody>
</table>
