<h1><%= @admin.username %>'s Polls</h1>
<br>

<%= form_tag( {controller: polls_path}, {method: "get"}) do %>
  <div style="padding-bottom: 5px;">
    <div class="inline-button-and-text-field"><%= text_field_tag(:search_title, nil, :placeholder => "Poll title") %></div>
    <div class="inline-button-and-text-field"><%= submit_tag("Filter", id:"filter".to_sym) %></div>
  </div>
<% end %>

<table class="tableFormat">
  <tr>
    <th>Title of Poll</th>
    <th>Description</th>
    <th>Votes Per User</th>
    <th>Votes Per Timeslot</th>
    <th>Timezone</th>
    <th>Location</th>
  </tr>

  <tbody>
  <% @polls.each do |poll| %>
    <tr>
      <td><%= poll.title %></td>
      <td><%= poll.description %></td>
      <td><%= poll.votes_per_user %></td>
      <td><%= poll.votes_per_timeslot %></td>
      <td><%= poll.timezone %></td>
      <td><%= poll.location %></td>
    </tr>
  <% end %>
  </tbody>
</table>

