<br>
<br>
<br>
<h1><%= @admin.username %>'s Polls</h1>
<br>

<%= form_tag( {controller: polls_path}, {method: "get"}) do %>
  <div style="padding-bottom: 5px;">
    <div class="inline-button-and-text-field"><%= text_field_tag(:search_title, nil, :placeholder => "Poll title") %></div>
    <div class="inline-button-and-text-field"><%= submit_tag("Filter", id:"filter".to_sym) %></div>
  </div>
<% end %>

<table class="tableFormat">
  <tr>
    <th>Title of Poll</th>
    <th>Description</th>
    <th>Votes Per User</th>
    <th>Votes Per Timeslot</th>
    <th>Timezone</th>
    <th>Location</th>
    <th>Results</th>
    <th>Edit</th>
    <th>Publish</th>
    <th>Delete</th>
  </tr>

  <tbody>
  <% @polls.each do |poll| %>
    <tr>
      <td><%= poll.title %></td>
      <td><%= poll.description %></td>
      <td><%= poll.votes_per_user %></td>
      <td><%= poll.votes_per_timeslot %></td>
      <td><%= poll.timezone %></td>
      <td><%= poll.location %></td>
      <td><%= button_to("Results", "polls/#{poll.id}",:method => :get, id: :poll_results) %></td>
      <td><%= button_to("Edit", "polls/#{poll.id}/edit?meetings=true", :method => :get, class: "edit_poll", id: "edit_poll_#{poll.id}") %></td>
      <td><button class = 'publishButton' id=<%="publish_poll_#{poll.id}"%>>
        <% if poll.published %>
          Close
        <% else %>
          Publish
        <% end %>
        </button></td>

      <td><%= form_tag( {controller: polls_path, action: :index}, { method: :get }) do %>
          <%= submit_tag("Delete", id: "delete_poll[#{poll.id}]".to_sym,
                         data: { confirm: "Are you sure you want to delete this poll?" }) %>
          <%= hidden_field_tag(:delete,  "#{poll.id}".to_sym) %>
        <% end %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $('.edit_poll').on('click',function(evt) {
    id = (this.id).split('_')[2]
    evt.preventDefault();
    location.href = '/polls/' + id + '/edit?meetings=true';
  });

  $('.publishButton').click(function(evt) {
    evt.preventDefault();
    const msg = confirm('Are you sure you want to publish this poll? This will email your poll to all invitees');
    if(!msg){
      return
    }
    const publish = this.textContent === "Publish";
    var id = this.id.split('_')[2];
    try {
      $.post('polls/' + id +'/publish', {publish: publish},
        function (returnedData) {});
    }
    catch(e) {
      alert(e);
    }
    if(publish){
      this.textContent = "Close";
    }
    else{
      this.textContent = "Publish";
    }
  });
</script>
