<br>
<br>
<h1> Invite People to poll</h1>
<br>
<div style="overflow-y: auto; max-height: 400px;">
  <table style="max-width: 350px;">
    <tr>
      <th>Email</th>
    </tr>
    <% @poll.invitees.each do |invitee| %>
      <tr>
        <td style="float: left"><%= "#{invitee.email}" %></td>
        <td style="float: right; padding-right: 60px;"><%= link_to '', invitee, :method => :delete, :class => 'close'%></td>
      </tr>
    <% end %>
  </table>
</div>

<div style="margin-top: 5px;">
  <div class="inline">
    <button id="add_invitee"> Add </button>
  </div>

  <div class="inline">
    <%= button_to "polls/#{@poll.id}/edit?meetings=true", :method => :get, id: 'back_button' do%>
      Edit Poll
    <% end %>
  </div>

  <div class="inline">
    <%= button_to poll_path, :method => :get, id: 'results_button' do%>
      Results
    <% end %>
  </div>



</div>

<br>

<div>
  <section class="invitee_form" style="display: none;">
    <%= form_tag( "/invitees", :method => :post, :id => 'add_invitee') do %>
      <%= label(:email_label, "Email") %>
      <div style="padding-bottom: 10px"><%= text_field :invitee, :email %></div>
      <%= hidden_field_tag 'poll', @poll.id %>
      <div style="float: left"><%= submit_tag "Add" %></div>


    <% end %>

      <div style="float: left"><button id="cancel_add"> cancel </button></div>


  </section>
</div>

<script type="text/javascript">
  $('#add_invitee').on('click',function(evt) {
    $('.invitee_form').show();
  });
  $('#cancel_add').on('click',function(evt) {
    $('.invitee_form').hide();
  });
  $('#back_button').on('click',function(evt) {
    evt.preventDefault();
    location.href = 'edit?meetings=true';
  });
</script>
