<%#= render :layout => "layouts/popup" , :locals => {:title => 'some title'} do%>
<div id="new_poll_page_id">
  <% provide(:title, "Create Poll") %>

  <h1>Create Poll</h1>
  <div class="ALEX_CHANGE" style>
    <%= form_tag( "/polls", :method => :post, :id => 'add_new_poll') do %>
      <%= label(:title_label, "Title") %>
      <%= text_field(:poll, :title, :placeholder => "Enter poll name here", :class => "ALEX_CHANGE") %>

      <%= label_tag(:location_label, "Location") %>
      <%= text_field(:poll, :location, :placeholder => "e.g. SC 3258", :class => "ALEX_CHANGE") %>

      <%= label_tag(:description_label, "Description") %>
      <%= text_field(:poll, :description, :placeholder => "The poll description...", :class => "ALEX_CHANGE") %>

      <%= label_tag(:user_votes_label, "Votes per User") %>
      <%= text_field(:poll, :user_votes, :class => "ALEX_CHANGE") %>

      <%= label_tag(:votes_per_timeslot_label, "Votes per Timeslot") %>
      <%= text_field(:poll, :votes_per_timeslot, :class => "ALEX_CHANGE") %>

      <%= label_tag(:timezone_label, "Timezone") %>
      <%= select(:poll, :timezone, [ ['Eastern (UTC-05:00)', "EDT"],
                                     ['Central (UTC-06:00)', "CDT"],
                                     ['Mountain (UTC-07:00)', "MDT"],
                                     ['Pacific (UTC-08:00)', "PDT"],
                                     ['Alaskan (UTC-09:00)', "ADT"],
                                     ['Hawaiian (UTC-10:00)', "HST"]], { include_blank: true }) %>
      <br>
      <br>
      <%= submit_tag("Create!",  name: "create_poll_button", :class => "ALEX_CHANGE", id: "create_poll_button") %>
    <% end %>
  </div>
</div>

<%# end %>
