</br>
</br>
<h1>Results</h1>

<div style="overflow-y: auto; height: 400px">
  <table>
    <tr>
      <th>Date</th>
      <th>User</th>
    </tr>
    <% @block_data.each do |block| %>
      <tr>
        <td><%= block[:time] %></td>
        <td><%= block[:invitee] %></td>
      </tr>
    <% end %>
  </table>
</div>

<div style="overflow-y: auto; height: 400px">
  <table>
    <tr>
      <th>Email</th>
      <th>Votes Left</th>
    </tr>
    <% @invitee_info.each do |invitee| %>
      <tr>
        <td><%= invitee[:email] %></td>
        <td><%= invitee[:votes_left] %></td>
        <td><%= link_to '', invitee, :method => :delete, :class => 'close'%></td>
      </tr>
    <% end %>
  </table>
</div>

<%= button_to polls_path, :method => :get, id: 'back_button' do%>
  Back
<% end %>
