</br>
</br>
<h1>Results</h1>

<div style="overflow-y: auto; height: 400px">
  <table>
    <tr>
      <th>Date</th>
      <th>User</th>
    </tr>
    <% @block_data.each do |block| %>
      <tr>
        <td><%= block[:time] %></td>
        <td><%= block[:invitee] %></td>
      </tr>
    <% end %>
  </table>
</div>

<div style="overflow-y: auto; height: 400px">
  <table>
    <tr>
      <th>Email</th>
      <th>Votes Left</th>
    </tr>
    <% @invitee_info.each do |invitee| %>
      <tr>
        <td><%= invitee[:email] %></td>
        <td><%= invitee[:votes_left] %></td>
        <td><%= link_to '', Invitee.find(invitee[:id]), :method => :delete, :class => 'close'%></td>
      </tr>
    <% end %>
  </table>
</div>

<%= button_to polls_path, :method => :get, id: 'back_button' do%>
  Back
<% end %>

<%= button_to "#{@poll.id}/invitees", :method => :get, id: 'invite_button' do%>
  Invite
<% end %>

<%= button_to "/polls/#{@poll.id}/remind", :method => :post, id: 'remind_button' do%>
  Remind
<% end %>

<%= button_to poll_path, method: :get, params: { show_all: @show_all}, id:'remind_button' do%>
  <% if @show_all  %>
    Show Only Reserved
  <% else %>
    Show All
  <% end %>
<% end %>

<Button id = 'publish'>
  <% if @poll.published %>
    Close Poll
  <% else %>
    Publish Poll
  <% end %>
</Button>

<script type="text/javascript">
  $('#publish').click(function(evt) {
    const publish = this.textContent === "Publish Poll";
    try {
      $.post(<%=@poll.id.to_s %> +'/publish', {publish: publish},
        function (returnedData) {});
    }
    catch(e) {
      alert(e);
    }
    if(publish){
      this.textContent = "Close Poll";
    }
    else{
      this.textContent = "Publish Poll";
    }
  });
</script>
