<!DOCTYPE html>
<html>

<%if !params[:action].starts_with? ("login") %>
<div class="topnav">
  <a class="active" href="/">Log Out</a>
  <a href="/polls">My Polls</a>
  <a href="/polls/new">Create Poll</a>
  <a href="/poll_signup/1">TEST POLL</a>
</div>
<%end%>

<head>
  <%if ! (params[:action].starts_with?("login") && params[:controller].starts_with?("polls") )%>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
  <%end%>

  <title>SeniorDesignLab3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<div style="text-align: center; font-size: large">
  <% if flash[:notice]%>
    <div style="margin-top: 70px; background-color: rgba(106,255,125,0.31); color: green; border-radius: 12px;"><%= flash[:notice]%></div>
  <% elsif flash[:warning]%>
    <div style="margin-top: 70px; background-color: rgba(255, 79, 76, 0.31); color: red; border-radius: 12px;"><%= flash[:warning]%></div>
  <% end %>
</div>


<%= yield %>


</body>
</html>
