<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
  <title>SeniorDesignLab3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="topRibbon" style="">
  <% if flash[:notice]%>
    <div class="ALEX_CHANGE"><%= flash[:notice]%></div>
  <% elsif flash[:warning]%>
    <div class="ALEX_CHANGE"><%= flash[:warning]%></div>
  <% end %>
</div>

<%= yield %>

</body>
</html>
