<!DOCTYPE html>
<html>

<%if !params[:action].starts_with? ("login") %>
<div class="topnav">
  <a class="active" href="/">Log Out</a>
  <a href="/polls">My Polls</a>
  <a href="/polls/new">Create Poll</a>
</div>
<%end%>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
  <title>SeniorDesignLab3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <% if flash[:notice]%>
    <div class="ALEX_CHANGE"><%= flash[:notice]%></div>
  <% elsif flash[:warning]%>
    <div class="ALEX_CHANGE"><%= flash[:warning]%></div>
  <% end %>
</div>

<%= yield %>

</body>
</html>
